.blog-quote > .avatar {
    min-width: 65px;
    max-width: 65px;
}
.blog-quote > .article-block > .header {
    margin-bottom: 13px;
    justify-content: space-between;
}
.blog-quote .author:after{
    content: '\00A0 \2014';
}
.blog-quote blockquote {
    margin: 0;
    border-right: 5px solid #000;
    padding-right: 15px;
}
.blog-quote blockquote p {
    font-size: 18px;
    line-height: 1.25;
}