<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <description>Visit counter automaticaly</description>
        <filter-name>VisitCounter</filter-name>
        <filter-class>Controllers.Proxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>VisitCounter</filter-name>
        <servlet-name>HomeController</servlet-name>
        <servlet-name>AboutController</servlet-name>
        <servlet-name>BlogOverviewController</servlet-name>
        <servlet-name>PostController</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutController</servlet-name>
        <servlet-class>Controllers.AboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogOverviewController</servlet-name>
        <servlet-class>Controllers.BlogOverviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>Controllers.PostController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutController</servlet-name>
        <url-pattern>/about-me</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogOverviewController</servlet-name>
        <url-pattern>/overview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
