@font-face{font-family:'Pacifico';src:url('fonts/Pacifico.ttf')}
body{
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans',Helvetica,Arial,sans-serif;
    background-image: url(http://css.simplesite.com/images/v3/backgrounds/pictures/body/wallpaper-white.jpg);

}
body > .container-fluid {
    box-shadow: 0 0 24px rgba(0,0,0,.8);
    margin: 0px 18% 50px 18%;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
body > .container-fluid > .container {
    display: flex;
    padding-top: 35px;
}
.container {
    margin-left: 20px;
    margin-right: 20px;
}
.container > .right {
    width: 25%
}
.container > .right > div {
    margin-top: 32px
}
.container > .right > div:first-child {
    margin-top: 0px;
}
.container > .left {
    width: 75%;
    margin: 0px 20px 0px 5px;
}
.container > .left .art-title {
    font-size: 26px;
}
.container > .left .art-content {
    line-height: 1.4;
}
.container > .left > .article-section {
    margin-top: 16px;
}
/*my-blog*/
.over-view {
    margin: 35px 0 40px;
}
/*about*/
.signature-section {
    margin: 60px 0px;
}
.signature-section > .signature-sign {
    font-family: 'Pacifico' !important;
    font-size: 40px;
}
/*about*/
a {
    color: currentColor;
    text-decoration: none;
}
p {
    margin: 0;
}
.flex {
    display: flex;
}
.block {
    display: block;
}
.text-capital {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
.text-style-normal {
    font-style: normal;
}
.primary {
    color: #6d5160;
}

.underline {
    text-decoration: underline;
}
.underline-horver:hover {
    text-decoration: underline;
}
.clear-underline {
    text-decoration: none;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.border-dot {
    border-bottom: 3px dotted rgba(0,0,0,.2);
}

