
.blog-photo > .avatar {
    min-width: 65px;
    max-width: 65px;
}
.blog-photo > .article-block > .header {
    margin-bottom: 13px;
    justify-content: space-between;
}
.blog-photo > .article-block > .content img {
    width: 100%;
    border-radius: 10px;
}