.blog-normal {
    display: flex;
}
.blog-normal > .avatar {
    width: 65px;
    display: flex;
}
.blog-normal > .article-block > .header {
    margin-bottom: 13px;
}
.blog-normal > .article-block > .content > img {
    float: left;
    width: 50%;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

