USE [Blogging]
GO
/****** Object:  Table [dbo].[Advertise]    Script Date: 5/23/2019 6:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertise](
	[Title] [text] NULL,
	[Icon] [nvarchar](max) NULL,
	[Text] [text] NULL,
	[Path] [nvarchar](255) NULL,
	[AdID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Advertise_1] PRIMARY KEY CLUSTERED 
(
	[AdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArticleDetails]    Script Date: 5/23/2019 6:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleDetails](
	[Text] [text] NULL,
	[Type] [tinyint] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[PostID] [int] NOT NULL,
	[Author] [nvarchar](max) NULL,
 CONSTRAINT [PK_ArticleDetails] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Articles]    Script Date: 5/23/2019 6:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Title] [text] NULL,
	[TimeStamp] [datetime] NOT NULL,
	[PostID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Statistic]    Script Date: 5/23/2019 6:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistic](
	[VisitCount] [int] NULL,
	[StatsID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[ArticleDetails] ([Text], [Type], [Image], [PostID], [Author]) VALUES (N'“You''ve gotta dance like there''s nobody watching,<br>Love like you''ll never be hurt,<br>Sing like there''s nobody listening,<br>And live like it''s heaven on earth.” ', 2, NULL, 1004, N'William W. Purkey')
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([Title], [TimeStamp], [PostID]) VALUES (N'About Me', CAST(0x0000AA5000000000 AS DateTime), 1002)
INSERT [dbo].[Articles] ([Title], [TimeStamp], [PostID]) VALUES (N'Essential skills for a happy life!', CAST(0x0000A55200000000 AS DateTime), 1003)
INSERT [dbo].[Articles] ([Title], [TimeStamp], [PostID]) VALUES (N'You''ve gotta dance', CAST(0x0000A55200000000 AS DateTime), 1004)
SET IDENTITY_INSERT [dbo].[Articles] OFF
SET IDENTITY_INSERT [dbo].[Statistic] ON 

INSERT [dbo].[Statistic] ([VisitCount], [StatsID]) VALUES (931, 1)
SET IDENTITY_INSERT [dbo].[Statistic] OFF
ALTER TABLE [dbo].[ArticleDetails]  WITH CHECK ADD  CONSTRAINT [FK_ArticleDetails_Articles1] FOREIGN KEY([PostID])
REFERENCES [dbo].[Articles] ([PostID])
GO
ALTER TABLE [dbo].[ArticleDetails] CHECK CONSTRAINT [FK_ArticleDetails_Articles1]
GO
